div{
width:500px;
}
h1 {
color: red;
}
h2 {
color: green;
}
.listCSS{
color: blue;
font-style: italic;
font-weight: bold;
}
.list1{
color: red;
}
b{
color: red;
font-size: 18px;
}
p{
font-family: Thoma, sans-serif;
line-height: 25px;
font-size: 12px;
}
ul{
font-style: italic;
color: Purple;
width:500px;
}
